# Install necessary packages
sudo apt install python3-pyqt6 python3-pil ffmpeg slop maim

# It is recommended to switch to X11
# Log out, then select X11 instead of Wayland at the bottom left
# because Wayland prevents screen capture